* {
	margin: 0;
	padding: 0;
	font-weight: normal;
	color: #f0f0f0;
	font-size: 2vw;
}

body {
	font-family: "Cormorant Garamond", serif;
	font-weight: 300;
	background-color: #0f0f0f;;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding: 2rem 10rem;
}

h1 {
	font-size: 3rem;
	line-height: 1.5em;
}

h2 {
	font-size: 2rem;
	line-height: 1.5em;
	margin-bottom: 1.5rem;
}

p {
	line-height: 1.25rem;
	padding-bottom: 1.25rem;
}

img { 
	padding-bottom: 1.5rem;
	max-width: 100%;
	height: auto;
}

.center {
	text-align: center;
}

#footer, #header {
	/*background-color: #0f0f0f;*/
}

.header-top {
	margin-top: 36vh;
}

.footer-top {
	margin-bottom: 40vh;
}

#content {
	/*background-color: green;*/
}