.page {
	/*overflow-x: hidden;*/
	margin-top: 5vw;
} 

.page-header {
	width: 100%;
	font-size: 2rem;
	display: flex;
	position: fixed;
	top: 0;
	background-color: #ece2cf;
}

.back {
	display: block;
	font-size: 2rem;
	padding: 1vw;
	width: 10vw;
	text-align: center;
	color: #ee5e44;
} .back:hover {
	/*background-color: #ee5e44;*/
	color: orange;
}

h1.project-name {
	align-self: flex-start;
	align-content: flex-end;
	width: 86vw;
	padding: 1vw;
}


.slides {
	display: flex;
	align-items: center;
	flex-direction: row;
}

.arrow {
/*	text-align: center;*/
	padding: 4vw;
	font-size: 2rem;
} .arrow:hover {
	cursor: pointer;
	color: blue;
	background-color: yellow;
}

.right-arrow {
	text-align: right;
}

.pictures {
	width: 90%;
	text-align: center;
}

.pictures img {
	max-width: 100%;
	height: auto;
	max-height: 85vh;
	display: none;
} 


.description {
	width: 60vw;
	margin: auto;
	margin-top: 3vw;
	margin-bottom: 5vw;
}