#page-title {
/*	font-size: 1.25rem;
	line-height: 2.25rem;*/
	position: fixed;
	top: 1vw;
	right: 1vw;
	text-align: right;
	font-size: 1.5rem;
	z-index: 100;
}

#page-pofo {
	display: block;
	font-size: 1.5rem;
	position: relative;
	transform: rotate(90deg);
	top: .7vw;
	right: -9.5vw;
}

.page {
	/*overflow-x: hidden;*/
	margin-top: 5vw;
} 

.page-header {
	width: 100%;
	font-size: 2rem;
	display: flex;
	position: fixed;
	top: 0;
}

.back {
	display: block;
	font-size: 2rem;
	padding: 1vw;
	width: 10vw;
	text-align: center;
	color: #ee5e44;
} .back:hover {
	/*background-color: #ee5e44;*/
	color: orange;
}

h1.project-name {
	align-self: flex-start;
	align-content: flex-end;
	width: 86vw;
	padding: 1vw;
}


.slides {
	display: flex;
	align-items: center;
	flex-direction: row;
	max-width: 99vw;
}

.arrow {
/*	text-align: center;*/
	padding: 2vw;
	font-size: 2rem;
} .arrow:hover {
	cursor: pointer;
	color: black;
	background-color: white;
}

.right-arrow {
	text-align: right;
	transform: rotate(90deg);
}

.left-arrow {
	transform: rotate(-90deg);
}

.pictures {
	width: 90%;
	text-align: center;
}

.pictures * {
	max-width: 100%;
	height: auto;
	max-height: 89vh;
	display: none;
} .pictures > img:first-child {
	display: inline;
}


.description {
	width: 60vw;
	padding: 0 1rem;
}

@media only screen and (max-width:1000px) {

	* {
		font-size: 14px;
	}

	.project {
		clear: both;
		width: 60vw;
	}

	.description {
		width: 90vw;
		margin: auto;
		margin-top: 3vw;
		margin-bottom: 5vw;
	}

	#page-title {
		display: none;
	}

	h1.project-name {
		padding: 3vw;
	}

	.page {
		margin-top: 15vw;
	}

	.pictures img {
		max-height: 100vh;
	}

	.arrow {
		font-size: 1.5rem;
	}

}

@media only screen and (max-width:700px) {

	* {
		font-size: 14px;
	}

	.project {
		clear: both;
		width: 80vw;
	}

	#pofo {
		transform: none;
		display: inline;
		top: 0;
		right: 0;
	}

	.description {
		width: 90vw;
		margin: auto;
		margin-top: 3vw;
		margin-bottom: 5vw;
	}

}