* {
	margin: 0;
	padding: 0;
	font-weight: normal;
	color: #333;
	font-size: 2vw;
}

body {
	font-family: "Cormorant Garamond", serif;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 4rem;
}

h1 {
	font-size: 3rem;
	line-height: 1.5em;
}

h2 {
	font-size: 2rem;
	line-height: 1.5em;
}

p {
	line-height: 1.25rem;
}


.center {
	text-align: center;
}

#footer, #header {
	background-color: white;
}

.header-top {
	margin-top: 36vh;
}

.footer-top {
	margin-bottom: 40vh;
}

#content {
	/*background-color: green;*/
}