* {
	margin: 0;
	padding: 0;
	font-size: 1.25vw;
	text-decoration: none;
	font-weight: normal;
}

body {
	font-family: "Helvetica", Arial, sans-serif;
	line-height: 2rem;
	background-color: black;
	color: white;
	overflow-x: hidden;
}

h1, h2 {
	font-family: "Helvetica", serif;
}

h1 {
	font-size: 2rem;
	mix-blend-mode: difference;	
}

h2 {
	font-size: 1.5rem;
	line-height: 2.5rem;
}

#title {
	position: fixed;
	top: 0;
	right: 0;
	text-align: right;
	z-index: 100;
	line-height: 2rem;
	padding: 0.45rem 0.25rem;
	color: white;
	font-size: 2rem;
}

#pofo {
	display: block;
	font-size: 1.5rem;
	position: relative;
	transform: rotate(90deg);
	top: .7vw;
	right: -9.5vw;
}

#info {
	position: fixed;
	bottom: 1vw;
	right: 1vw;
	text-align: right;
	font-size: 1.5rem;
}

#container {
	width: 100vw;
	margin: auto;
	margin-top: 4rem;
}

.project {
	position: relative;
	display: block;
	width: 30vw;
	padding: 3vw;
	float: left;
	/*border: 1px solid transparent;*/
} .project img {
	max-width: 100%;
	height: auto;
} /* .project:hover {
	cursor: pointer;
	background-color: lightyellow;
	color: #ee5e44;
} .project caption {
	color: #ee5e44;
} */

a {
	color: white;
	padding-bottom: 2px;
	border-bottom: 1px solid white;
} a:hover {
	background-color: white;
	color: black;
}

p {
	font-family: "Junicode", Times, serif;
	font-style: italic;
	font-size: 1.3rem;
	line-height: 1.5rem;
	margin-bottom: 1.3rem;
}

p a {
	font-style: normal;
	font-family: "Helvetica", Arial, serif;
}

em {
	font-style: normal;
	font-size: 1.3rem;
	line-height: 1.5rem;
}

.button{
	position: fixed;
	padding: 1vw;
	bottom: 0;
	right: 0;
	text-align: right;
	font-size: 1.5rem;
	border-bottom: none;
	font-family: Helvetica, Arial, sans-serif;
} .button:hover {
	cursor: pointer;
	background-color: white;
	color: black;
} .button:hover h1 {
	color: black;
	mix-blend-mode: normal;
}

.project-section {
	padding-bottom: 7vw;
}

@media only screen and (max-width:1000px) {

	* {
		font-size: 14px;
	}

	.project {
		clear: both;
		width: 60vw;
	}

}

@media only screen and (max-width:700px) {

	* {
		font-size: 14px;
	}

	.project {
		clear: both;
		width: 80vw;
	}

}